body {
  font-family: "Futura";
  font-size: 14px;
  color: #003d67;
  background-color: #004368;
  background-image: url("./assets/background.png");
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 20vh;
  max-width: 1100px;
  margin-bottom: 10px;
  color: white;
  .logo {
  }
  .lang-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      text-align: center;
      font-weight: 700;
      width: 40px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 80vw;
  height: 70vh;
  max-width: 1100px;
  max-height: 600px;
  background-color: white;
  border-radius: 6px;

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    position: relative;
    min-height: 600px;
    text-align: center;
    .sub-title {
      margin-top: 20%;
      opacity: 0.7;
      font-family: "ConduitITCStd";
      font-weight: 300;
      font-size: 1.2rem;
    }

    .title {
      padding: 1% 15%;
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 500;
      height: 12%;
    }
    .button {
      margin: auto;
      margin-top: 58px;
      padding: 24px 0px;
      width: 60%;
      align-self: center;
      justify-self: center;
      background-color: #99dcbc;
      border-radius: 10px;
      font-weight: 700;
      transition: all 250ms linear;
      cursor: pointer;
      &:hover {
        background-color: #99dcbca2;
        letter-spacing: 0.5px;
      }
    }
    .image,
    .image-row {
      margin-top: auto;
      position: absolute;
      display: table-cell;
      bottom: 0;
      width: 100%;
      max-height: 200px;
    }
    .image {
      img {
        max-width: 400px;
        width: 100%;
        vertical-align: bottom;
      }
    }
    .image-row {
      padding: 48px 0px;
      img {
        padding: 0 20px;
      }
    }
  }
  .consumer-card {
    background-color: rgba(255, 232, 133, 0.5);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .business-card {
    background-color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

@media screen and (max-width: 775px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    height: auto;
    max-height: fit-content;
    .card {
      width: 100%;
    }
    .consumer-card {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 0px;
    }
    .business-card {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }
}
@media screen and (max-width: 500px) {
  .content {
    .card {
      min-height: 400px;
      .image-row {
        img {
          height: 30px;
        }
      }
    }
  }
}
